<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group evet-card text-light mb-2">
        <div class="card mb-0">
          <div class="card-body py-1">
            <div class="row">
              <div class="col-5 col-sm-3">
                <div class="display-6">
                  <span class="badge">{{ event.date | date: 'dd' }}</span>
                </div>
                <div class="display-6">
                  {{ event.date | date: 'LLL'}}
                </div>
                <div>
                  {{ event.date | date: 'yyyy'}}
                </div>
              </div>
              <div class="col-7 col-sm-9">
                <div class="d-flex flex-column">
                  <h3 class="card-title text-uppercase mt-0">
                    <strong>{{ event.name }}</strong>
                  </h3>
                  <div class="card-text">
                    {{ event.description }}
                  </div>
                  <ul class="list-inline mt-auto">
                    <li class="list-inline-item"> <strong>Created By :</strong></li>
                    <li class="list-inline-item"><i class="bi bi-person-fill"></i>{{ event.ownerId.name }} {{ event.ownerId.lastName }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-body py-1">
            <div class="row h-100">
              <div class="col-5 col-sm-4">
                <ul class="list-group my-0 pl-1">
                  <li class="list-inline-item"><i class="bi bi-clock"></i> {{ event.date | date: 'shortTime'}}</li>
                  <li class="list-inline-item"><i class="bi bi-calendar-check"></i> {{ event.date | date:'EEEE'}}</li>
                  <li class="list-inline-item"><i class="bi bi-geo-alt"></i> {{ event.place }}</li>
                  <li class="list-inline-item"><i class="bi bi-geo-fill"></i> {{ event.address }}</li>
                  <li class="list-inline-item"><i class="bi bi-stopwatch-fill"></i> {{ event.duration }}</li>
                </ul>
              </div>
              <div class="col-7 col-sm-8 bg-white text-dark">
                <div class="d-flex">
                  <div class="pt-2 flex-grow-1">
                    Invitees :
                  </div>
                  <div class="p-2 fs-4">
                    <i *ngIf="event?.ownerId?.id === user?.id" (click)="onEditClick()" class="bi bi-pencil-square text-success action"  placement="top" ngbTooltip="Edit Event"></i>
                  </div>
                  <div class="p-2 fs-4">
                    <i *ngIf="event?.ownerId?.id === user?.id" (click)="onClickDelete()" class="bi bi-x-circle text-danger action" placement="top" ngbTooltip="Delete Event"></i>
                  </div>
                </div>
                <ul>
                  <li *ngFor="let inv of event.invitees">{{ inv.name }} {{ inv.lastName}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
