<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card col-offset-4 col-4">
    <div class="card-body">
      <div class="d-flex">
        <div class="flex-grow-1"><B>Login</B></div>
        <div><button (click)="onClickRegister()" class="btn btn-primary">Register</button></div>
      </div>
      <div>
        <form #loginForm="ngForm" (ngSubmit)="onClickLogin(loginForm)">
          <div class="mt-3">
            <i class="bi bi-envelope pe-2"></i><label for="email">Email</label>
            <input name="email" ngModel id="email" type="text" class="form-control">
          </div>
          <div class="mt-3 mb-3">
            <i class="bi bi-lock pe-2"></i><label for="password">Password</label>
            <input name="password" ngModel id="password" type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-dark form-control mt-2">Submit</button>
        </form>
      </div>
      <div class="mt-3 mb-3 text-danger">
        {{ message }}
      </div>
    </div>
  </div>
</div>
