<div class="container">
  <div *ngIf="!isLoggedIn">
    <app-login *ngIf="!register"></app-login>
    <app-register *ngIf="register"></app-register>
  </div>
  <div *ngIf="isLoggedIn">
    <app-nav-bar [user]="user"></app-nav-bar>
      <div *ngIf="!isSoloEvent">
        <div *ngIf="isCreatingEvent || isEditingEvent">
          <app-event-form></app-event-form>
        </div>
        <div *ngIf="!isCreatingEvent && !isEditingEvent">
          <app-event-list></app-event-list>
        </div>
      </div>
      <div *ngIf="isSoloEvent">
        <app-solo-event></app-solo-event>
      </div>
  </div>
</div>
