<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Description</th>
      <th>Place</th>
      <th>Address</th>
      <th>Duration</th>
      <th>Owner</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of eventList">
      <td>{{event.date.toLocaleDateString()}}</td>
      <td>{{("0" + event.date.getHours()).slice(-2)}}:{{("0" + event.date.getMinutes()).slice(-2)}}</td>
      <td>{{event.name}}</td>
      <td>{{event.description}}</td>
      <td>{{event.place}}</td>
      <td>{{event.address}}</td>
      <td>{{event.duration}}</td>
      <td>{{event.ownerId.name}} {{event.ownerId.lastName}}</td>
      <td nowrap>
        <i (click)="onClickViewEvent(event.id)" class="bi bi-eyeglasses text-success action"  placement="top" ngbTooltip="View Event"></i>
        <i *ngIf="event?.ownerId?.id === user?.id" (click)="onEditClick(event)" class="bi bi-pencil-square text-success action ps-2"  placement="top" ngbTooltip="Edit Event"></i>
        <i *ngIf="event?.ownerId?.id === user?.id" (click)="onClickDelete(event.id)" class="bi bi-x-circle text-danger action ps-2" placement="top" ngbTooltip="Delete Event"></i>
      </td>
    </tr>
  </tbody>
</table>
