<div>
  <div>
    <H2>New Event</H2>
  </div>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div>
          <label>Name : </label>
          <input type="text" class="text form-control" formControlName="name">
        </div>
        <div>
          <label>Description : </label>
          <input type="text" class="text form-control" formControlName="description">
        </div>
        <div>
          <label>Place : </label>
          <input type="text" class="text form-control" formControlName="place">
        </div>
        <div>
          <label>Address : </label>
          <input type="text" class="text form-control" formControlName="address">
        </div>
        <div>
          <label>Invite :</label>
          <div *ngFor="let item of invitees; let i = index" class="checkbox" formArrayName="invitees">
            <input type="checkbox" [formControlName]="i"> {{ item.name }} {{ item.lastName }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <label>Event Date : </label>
          <div class="input-group">
            <input class="form-control"
                   formControlName="date" ngbDatepicker #d="ngbDatepicker">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="bi bi-calendar3"></i></button>
          </div>
        </div>
        <div>
          <label>Time : </label>
          <ngb-timepicker [formControlName]="'time'" [seconds]="false"
                          [hourStep]="1" [minuteStep]="30" [meridian]="true"></ngb-timepicker>
        </div>
      </div>
    </div>
    <button (click)="onCancelClick()" class="btn btn-dark">Cancel</button>
    <button class="btn btn-dark" type="submit">Submit</button>
  </form>
</div>
